.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1.8rem;
    max-width: 16vw;
    height: 100vh;
    background: white;
    /* border: 1px solid red; */
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.7rem;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    background: #f6f6f6;
    gap:1rem;
cursor: pointer;
}
@media screen and (max-width:800px) {
   .sidebar{
    padding: 1rem 0;
    flex-direction: row;
    width: 100%;
    max-width: none;
    height: auto;
    justify-content: center;
   }
   .sidebar-item{
    margin: 0;
   }
    
}