.offers{
    display: flex;
    padding:  4rem;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 80%);
    gap: 3rem;
    margin: 7rem 10rem;
    
}
.offers-left{
    flex: 1;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
color: #171717;
font-size: 4rem;
font-weight: 500;
}
.offers-left p{
    color: #171717;
    font-size: 1rem;
    font-weight: 600;
}
.offers-left button{
    width: 13.5vw;
    border-radius: 2rem;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
.offers-right img{
width: 18rem;   

}

@media screen and (max-width: 1280px) {
    .offers{
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        margin:3rem 6.7rem;
        gap: 1rem;
    }
    .offers-left h1{
        font-size: 2.8rem;
        font-weight: 600;
        padding: 0.2rem;
        }
        .offers-left button{
            width: 30vw;

            font-size: 1rem;
            
        }
    .offers-right img{
        width: 20rem;   
    } 
}

@media screen and (max-width: 800px) {
    .offers{
        /* display: flex;
        flex-direction: column; */
        margin: 2rem 1.7rem;
        gap: 1rem;
        padding: 2rem;
    }
    .offers-left{
        
        padding: 1rem;
       
    }
    .offers-left h1{
        font-size: 1.5rem;
        font-weight: 600;
        }
        .offers-left p{
            font-size: 1rem;
            font-weight: 500;
            }
        .offers-left button{
            width: 25vw;

            font-size: 0.9rem;
            padding: 0.5rem;
        }
    .offers-right img{
        width: 30vw;   
    }
}
@media screen and (max-width: 1024px) {
    .offers{
        /* display: flex;
        flex-direction: column; */
        margin: 2rem 4rem;
        gap: 1rem;
        padding: 2rem;
    }
    
    .offers-left h1{
        font-size: 2rem;
        font-weight: 600;
        }
        .offers-left p{
            font-weight: 500;
            }
        .offers-left button{
            width: 20vw;

            font-size: 1rem;
            font-weight: 500;
          
        }
    .offers-right img{
        width: 30vw;   
    }
}
@media screen and (max-width: 600px) {
    .offers{
        /* display: flex;
        flex-direction: column; */
        margin: 2rem 1.7rem;
        gap: 1rem;
        padding: 2rem;
    }
    .offers-left{
        
        padding: 1rem;
       
    }
    .offers-left h1{
        font-size: 1rem;
        font-weight: 600;
        }
        .offers-left p{
            font-size: 0.7rem;
            font-weight: 500;
            }
        .offers-left button{
            width: 20vw;

            font-size: 0.7rem;
            padding: 0.5rem;
           
        }
    .offers-right img{
        width: 30vw;   
    }
}